<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="4" parallel="classes" >
	<test name="APIParallelTests">
		<classes>
			<class name="RestApi.APITest.GetTest"></class>
			<class name="RestApi.APITest.PostTest"></class>
			<class name="RestApi.APITest.Authentication"></class>
			<class name="RestApi.APITest.RegistrationSuccessResponse"></class>
		</classes>
	</test>
</suite>